//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/helveticaneuecyr-light.eot");
	src: local("☺"), url("../fonts/helveticaneuecyr-light.woff") format("woff"),
		url("../fonts/helveticaneuecyr-light.ttf") format("truetype"),
		url("../fonts/helveticaneuecyr-light.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/helveticaneuecyr-thin.eot");
	src: local("☺"), url("../fonts/helveticaneuecyr-thin.woff") format("woff"),
		url("../fonts/helveticaneuecyr-thin.ttf") format("truetype"),
		url("../fonts/helveticaneuecyr-thin.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "LucidaGrande";
	src: url("../fonts/LucidaGrande.eot");
	src: local("☺"), url("../fonts/LucidaGrande.woff") format("woff"), url("../fonts/LucidaGrande.ttf") format("truetype"),
		url("../fonts/LucidaGrande.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "MyriadPro";
	src: url("../fonts/SQDRSS+MyriadPro-Regular.eot");
	src: local("☺"), url("../fonts/SQDRSS+MyriadPro-Regular.woff") format("woff"),
		url("../fonts/SQDRSS+MyriadPro-Regular.ttf") format("truetype"),
		url("../fonts/SQDRSS+MyriadPro-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "MyriadProSemibold";
	src: url("../fonts/MyriadPro-Semibold.eot");
	src: local("☺"), url("../fonts/MyriadPro-Semibold.woff") format("woff"),
		url("../fonts/MyriadPro-Semibold.ttf") format("truetype"), url("../fonts/MyriadPro-Semibold.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "MyriadProSemibold";
	src: url("../fonts/MyriadPro-Semibold.eot");
	src: local("☺"), url("../fonts/MyriadPro-Semibold.woff") format("woff"),
		url("../fonts/MyriadPro-Semibold.ttf") format("truetype"), url("../fonts/MyriadPro-Semibold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "SFCompactTextSemibold";
	src: url("../fonts/SF-Compact-Text-Semibold.eot");
	src: local("☺"), url("../fonts/SF-Compact-Text-Semibold.woff") format("woff"),
		url("../fonts/SF-Compact-Text-Semibold.ttf") format("truetype"),
		url("../fonts/SF-Compact-Text-Semibold.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "MyriadProSemibold";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 984;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	padding: 0px 12px;
	width: 100%;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "popup.scss";
@import "footer.scss";
// @import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.form-screen-01 {
	&__lable {
		color: #ffffff;
		font-family: "MyriadPro";
		font-size: 16px;
		line-height: 24px;
		margin: 0px 0px 6px 0px;
	}
	&__input {
		display: flex;
		input {
			margin: 0px 25px 0px 0px;
		}
		@media (max-width: $md4+px) {
			display: block;
			input {
				width: 100%;
				margin: 0px 0px 20px 0px;
			}
			button {
				display: block;
				width: 100%;
			}
		}
	}
	&__btn {
		white-space: nowrap;
	}
}
.description {
	padding: 0px 10px;
	&__title {
		display: inline-flex;
		align-items: center;
		min-height: 56px;
		color: #3cd072;
		font-size: 24px;
		font-weight: 600;
		line-height: 30px;
		padding: 0px 0px 0px 66px;
		margin: 0px 0px 20px 0px;
		&_s {
			background: url("../img/charger/screen-2/icon/01.png") 0 0 no-repeat;
		}
		&_g {
			background: url("../img/charger/screen-2/icon/02.png") 0 0 no-repeat;
		}
	}
	&__text {
		font-size: 16px;
		font-family: "HelveticaNeue";
		line-height: 24px;
		p {
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
}
.title {
	margin: 0px 0px 22px 0px;
	max-width: 390px;
	padding: 0px 0px 0px 70px;
	h2 {
		font-size: 32px;
		font-family: "MyriadPro";
		font-weight: 400;
		&:last-child {
			font-family: "MyriadProSemibold";
			font-weight: 600;
		}
	}
}
.title-v {
	text-align: center;
	&::before {
		content: "";
		display: inline-block;
		width: 72px;
		height: 72px;
		margin: 0px 0px 30px 0px;
	}
	h2 {
		font-size: 24px;
		line-height: 32px;
		margin: 0px 0px 15px 0px;
		&:last-child {
			color: #3cd072;
			font-size: 36px;
			margin: 0;
		}
	}
}
.item-screen-03 {
	padding: 45px 0px 0px 0px;
	@include flexbox();
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	@media (max-width: $md4+px) {
		padding: 25px 0px 0px 0px;
	}
	&__icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 56px;
		height: 56px;
		font-size: 18px;
		color: #3cd072;
		margin: 0px 0px 30px 0px;
		border: 1px solid #3cd072;
		border-radius: 50%;
		@media (max-width: $md3+px) {
			margin: 0px 0px 10px 0px;
		}
	}
	&__title {
		flex: 1 0 auto;
		text-align: center;
		font-size: 24px;
		line-height: 32px;
		margin: 0px 0px 50px 0px;
		@media (max-width: $md2+px) {
			margin: 0px 0px 10px 0px;
		}
	}

	&__image {
		width: 296px;
		height: 360px;
		img {
			display: block;
			max-width: 100%;
		}
	}
}
.slider {
	&__item {
		width: 136px;
		height: 130px;
		margin: 0px 2.5px;
		img {
			display: block;
			max-width: 100%;
		}
	}
}
.form-signup {
	&__input {
		display: flex;
		@media (max-width: $md4+px) {
			display: block;
		}
	}

	&__lable {
		color: #000000;
		font-size: 24px;
		line-height: 24px;
		margin: 0px 0px 20px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 10px 0px;
		}
		&_g {
			color: #3cd072;
		}
	}
}
.content {
	flex: 1 1 auto;
}
.up {
	position: fixed;
	z-index: 999;
	bottom: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	border: 1px solid #3cd072;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.1) url("../img/icons/p-left.svg") center no-repeat;
	@include rotate(90deg);
	@include anim(0.3s, 0s);
	@media (min-width: 1024px) {
		&:hover {
			box-shadow: inset 0px 0px 10px #3cd072;
		}
	}
	@media (max-width: $md4+px) {
		bottom: 30px;
		right: 30px;
	}
}
//====================================================================================================
.screen-01 {
	padding: 65px 0px 0px 0px;
	position: relative;
	@media (max-width: $md2+px) {
		padding: 65px 0px;
	}
	@media (max-width: $md3+px) {
		padding: 25px 0px;
	}
	&__bg {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__content {
		position: relative;
		z-index: 3;
	}
	&__content-body {
		max-width: 460px;
		padding: 0px 0px 65px 0px;
		@media (max-width: $md1+px) {
			padding: 0px;
		}
	}
	&__title {
		margin: 0px 0px 22px 0px;
		color: #fff;
		background: url("../img/charger/first_screen/icon/Search_Icon.png") 0 0 no-repeat;
	}
	&__text {
		color: #ffffff;
		font-family: "HelveticaNeue";
		font-size: 16px;
		line-height: 24px;
		overflow: auto;
		margin: 0px 0px 14px 0px;
		p {
			margin: 0px 0px 10px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
	&__btn-apple {
		margin: 0px 0px 54px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}
	}
	&__images {
		position: absolute;
		right: 0;
		bottom: -40px;
		@include anim(0.5s, 0s);
		@media (max-width: $md1+px) {
			position: absolute;
			top: 30px;
			right: 10px;
			opacity: 0.2;
			z-index: -1;
		}
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	&__image-light {
		position: relative;
		top: 40px;
		right: 0px;
		z-index: 2;
	}
	&__image-dark {
		position: absolute;
		top: 0;
		right: 130px;
		z-index: 1;
	}
	&__logo {
		display: inline-block;
		color: #ffffff;
		font-family: "SFCompactTextSemibold";
		font-size: 35px;
		line-height: 22.63px;
		text-transform: uppercase;
		letter-spacing: -2.2px;
		margin: 0px 0px 105px 0px;
		@include anim(0.3s, 0s);
		@media (max-width: $md1+px) {
			margin: 0px 0px 40px 0px;
		}
		@media (min-width: 1024px) {
			&:hover {
				text-shadow: 0px 0px 5px #0d0d0d;
			}
		}
	}
}
.screen-02 {
	padding: 144px 0px 85px 0px;
	overflow: hidden;
	text-align: right;
	background-color: #f0f0f0;
	&::after {
		content: "";
		display: block;
		background-color: #fff;
		height: 38px;
		position: relative;
		bottom: -85px;
		left: 0;
		z-index: 1;
	}
	@media (max-width: $md1+px) {
		text-align: left;
		padding: 30px 0px 30px 0px;
		&::after {
			display: none;
		}
	}
	@media (max-width: $md3+px) {
		text-align: center;
	}
	&__body {
		position: relative;
	}
	&__images {
		position: absolute;
		width: 100%;
		height: 100%;
		top: -155px;
		left: 0px;
		@media (max-width: $md1+px) {
			display: none;
		}
	}
	&__image {
		width: 230px;
		height: 470px;
		position: absolute;
		@include rotate(-30deg);
		img {
			display: block;
			max-width: 100%;
		}
		&:first-child {
			top: -17px;
			left: 187px;
		}
		&:last-child {
			top: 190px;
			left: 10px;
			z-index: 2;
		}
	}
	&__content {
		display: inline-block;
		text-align: left;
		max-width: 410px;
		padding: 0px 10px;
		@media (max-width: $md3+px) {
			display: block;
			max-width: 100%;
			text-align: center;
		}
	}
	&__description {
		margin: 0px 0px 30px 0px;
		&:last-child {
			margin: 0;
		}
	}
}
.screen-03 {
	padding: 12px 0px 0px 0px;
	@media (max-width: $md2+px) {
		padding: 50px 0px 0px 0px;
	}
	&__title-v {
		&::before {
			background: url("../img/charger/screen-3/icon/01.png") no-repeat;
		}
	}

	&__row {
		@include flexbox();
		flex-wrap: wrap;
		margin: 0px -12.5px;
	}

	&__column {
		flex: 1 1 33.333%;
		padding: 0px 12.5px;
	}
}
.screen-04 {
	padding: 50px 0px;
	background-color: #000;
	&__title-v {
		color: #fff;
		margin: 0px 0px 50px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 10px 0px;
		}
		&::before {
			display: none;
		}
	}
}
.screen-05 {
	padding: 70px 0px 40px 0px;
	position: relative;
	@media (max-width: $md2+px) {
		padding: 35px 0px 20px 0px;
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&__content {
		position: relative;
		z-index: 1;
	}
	&__content-body {
		max-width: 460px;
		line-height: 24px;
		@media (max-width: $md2+px) {
			text-align: center;
			max-width: 100%;
			padding: 0;
		}
	}
	&__title {
		display: inline-flex;
		align-items: center;
		margin: 0px 0px 40px 0px;
		color: #ffffff;
		font-size: 36px;
		line-height: 36px;
		&::before {
			content: "";
			display: block;
			width: 72px;
			height: 72px;
			padding: 0px 97px 0px 0px;
			background: url("../img/charger/screen-5/icon/01.png") 0 0 no-repeat;
			@media (max-width: $md3+px) {
				padding: 0px;
				margin: 0px 0px 20px 0px;
			}
		}
		@media (max-width: $md3+px) {
			flex-direction: column;
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: $md4+px) {
			font-size: 30px;
			line-height: 30px;
		}
	}
	&__text {
		font-family: "HelveticaNeue";
		font-size: 16px;
		margin: 0px 0px 35px 0px;
		p {
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0;
			}
		}
		@media (max-width: $md4+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	&__list {
		padding: 0px 60px 0px 0px;
		color: #ffffff;
		font-size: 24px;
		text-align: left;
		@media (max-width: $md3+px) {
			padding: 0px;
		}
		@media (max-width: $md4+px) {
			font-size: 18px;
		}
		p {
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}

	&__item {
		min-height: 56px;
		font-size: 24px;
		line-height: 24px;
		margin: 0px 0px 15px 0px;
		padding: 19px 0px 19px 81px;
		background: url("../img/charger/screen-5/icon/02.png") no-repeat;
		&:last-child {
			margin: 0;
		}
		@media (max-width: $md4+px) {
			font-size: 18px;
			line-height: 18px;
		}
	}

	&__images {
		position: absolute;
		max-width: 580px;
		min-height: 100%;
		bottom: 0px;
		right: -90px;
		@media (max-width: 1025px) {
			right: -15px;
		}
		@media (max-width: $md1+px) {
			display: none;
		}
	}
	&__image {
		display: inline-block;
		position: relative;
		right: 0px;
		&_01 {
			bottom: -299px;
		}
		&_02 {
			margin: 0px 20px;
			bottom: -210px;
		}
		&_03 {
			bottom: -99px;
		}
		img {
			max-width: 100%;
		}
	}
}
.screen-06 {
	padding: 70px 0px 95px 0px;
	&__body {
		max-width: 650px;
		text-align: center;
		margin: 0 auto;
		padding: 0px 10px;
	}
	&__title-v {
		margin: 0px 0px 36px 0px;
		&::before {
			background: url("../img/charger/screen-6/icon/01.png") no-repeat;
		}
	}
	&__text {
		text-align: center;
		padding: 0px 10px;
		color: #000000;
		font-family: "HelveticaNeue";
		font-size: 16px;
		line-height: 24px;
		margin: 0px 0px 56px 0px;
		p {
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin: 0;
			}
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 40px 0px;
		}
	}
	&__image {
		display: inline-block;
		max-width: 407px;
		margin: 0px 0px 80px 0px;
		img {
			display: block;
			max-width: 100%;
		}
		@media (max-width: $md2+px) {
			margin: 0px 0px 40px 0px;
		}
	}
	&__link {
		margin: 0px 0px 70px 0px;
		@media (max-width: $md1+px) {
			margin: 0px 0px 25px 0px;
		}
	}
	@media (max-width: $md3+px) {
		padding: 35px 0px 40px 0px;
	}
}
.screen-07 {
	padding: 75px 0px 70px 0px;
	position: relative;
	@media (max-width: $md3+px) {
		padding: 15px 0px;
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__content {
		position: relative;
		z-index: 2;
	}

	&__row {
		display: flex;
		@media (max-width: $md3+px) {
			display: block;
		}
	}

	&__column {
		padding: 20px 0px 0px 0px;
		flex: 1 1 50%;
		&:last-child {
			@media (max-width: $md3+px) {
				text-align-last: left;
				padding: 30px 0px 0px 0px;
			}
		}
	}

	&__title-screen-07 {
		margin: 0px 0px 25px 0px;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}
	&__social {
		text-align: center;
	}
	&__links {
		display: inline-block;
		text-align: left;
		@media (max-width: $md3+px) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin: 0px -20px;
		}
		li {
			margin: 0px 0px 25px 0px;
			@media (max-width: $md3+px) {
				padding: 0px 20px;
			}
		}
	}
	&__link {
		display: inline-block;
		color: #ffffff;
		font-size: 24px;
		line-height: 50px;
		padding: 0px 0px 0px 68px;
		@include anim(0.3s, 0s);
		&_fb {
			background: url("../img/charger/screen-7/icon/01.png") 0 0 no-repeat;
		}
		&_tw {
			background: url("../img/charger/screen-7/icon/02.png") 0 0 no-repeat;
		}
		&_vk {
			background: url("../img/charger/screen-7/icon/03.png") 0 0 no-repeat;
		}
		@media (min-width: $md3+px) {
			&:hover {
				@include scale(1.2);
			}
		}
	}
}
.title-screen-07 {
	color: #000000;
	font-size: 36px;
	line-height: 32px;
}
.signup {
	padding: 55px 0px 50px 0px;
	background-color: #f0f0f0;
	@media (max-width: $md3+px) {
		padding: 25px 0px 35px 0px;
	}
	&_b {
		background-color: #000000;
	}
	&__form {
	}
}
.top-list {
	padding: 70px 0px 0px 0px;
	@media (max-width: $md2+px) {
		padding: 25px 0px 0px 0px;
	}
	&__title {
		color: #3cd072;
		font-size: 36px;
		line-height: 32px;
		margin: 0px 0px 15px 0px;
		@media (max-width: $md2+px) {
			text-align: center;
		}
	}
	&__item {
		border-top: 1px solid #adadad;
		border-bottom: 1px solid #adadad;
	}
}
.item-top {
	padding: 15px 0px;
	&__body {
		display: flex;
		margin: 0px -11.5px;
		@media (max-width: 858px) {
			flex-wrap: wrap;
			text-align: center;
			justify-content: center;
		}
	}

	&__column {
		padding: 10px 11.5px;
		&:last-child {
			margin: 0px 0px 0px 28px;
			@media (max-width: $md2+px) {
				margin: 0;
			}
		}
	}

	&__images {
		width: 215px;
		display: flex;
		justify-content: space-between;
	}

	&__icon,
	&__photo {
		display: block;
		width: 96px;
		height: 96px;
		img {
			display: block;
			max-width: 100%;
			height: 100%;
			object-fit: contain;
			border-radius: 50%;
		}
	}

	&__user-info {
		max-width: 280px;
		line-height: 32px;
	}

	&__name {
		color: #3cd072;
		font-size: 32px;
		margin: 0px 0px 4px 0px;
	}

	&__country {
		font-family: "HelveticaNeue";
		font-size: 24px;
		font-weight: 300;
		margin: 0px 0px 4px 0px;
	}

	&__rating {
		min-width: 268px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		color: #b3b3b3;
		font-family: "HelveticaNeue";
		font-size: 16px;
		font-weight: 300;
		@media (max-width: 858px) {
			justify-content: center;
		}
	}
	&__watts {
	}
}
.watts {
	max-width: 310px;
	font-family: "HelveticaNeue";
	font-weight: 300;
	@media (max-width: 858px) {
		max-width: 100%;
	}
	&__counter {
		font-size: 24px;
		line-height: 32px;
		margin: 0px 0px 10px 0px;
	}
	&__value {
		text-align: center;
		font-size: 68px;
		min-height: 48px;
		padding: 0px 0px 0px 60px;
		background: url("../img/charger/screen-6/icon/watts/06.png") 0 50% no-repeat;
		@media (max-width: $md4+px) {
			font-size: 54px;
		}
	}
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
