//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}
.trow {
	display: table-row;
}
.cell {
	display: table-cell;
	&.full {
		width: 100%;
	}
}
//====================================================================================================
.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

body.ie {
	.ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}
//====================================================================================================
.slick-slider {
	position: relative;
	.slick-track,
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-list {
		overflow: hidden;
		width: 100%;
	}
	.slick-track {
		width: 100%;
	}
	.slick-slide {
		overflow: hidden;
		float: left;
	}
	.slick-dots {
		li {
			button {
			}
			&.slick-active {
				button {
				}
			}
		}
	}
	.slick-arrow {
		width: 50px;
		height: 50px;
		background-color: rgba(255, 255, 255, 0.4);
		border: 1px solid #3cd072;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		font-size: 0;
		z-index: 1;
		@include tr(0px, -50%, 0px);
		@include anim(0.3s, 0s);
		@media (min-width: 1024px) {
			&:hover {
				box-shadow: inset 0px 0px 10px #3cd072;
			}
		}
	}
	.slick-prev {
		left: 20px;
		background: rgba(255, 255, 255, 0.2) url("../img/icons/p-left.svg") center no-repeat;
	}
	.slick-next {
		right: 20px;
		background: rgba(255, 255, 255, 0.2) url("../img/icons/p-right.svg") center no-repeat;
	}
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
